body{
  padding: 0;
  margin: 0;
  margin-top: 150px;      
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;  
} 

a {
  text-decoration: none;  
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding: 30px;
    background: #000;
    color: #FFF;             
    text-align: right;   
}
  
#header a {
  display: inline-block;
  margin-right: 20px;
  color: white;  
  transition: 0.2 ease color;  
}
  
#header a.router-link-active{
  font-weight: bold;
  color: orange;
}

#header a:hover,
#header a:focus {
  color: orange;
}
  
#logo {
  float: left;
  color: orange !important;
  font-weight: bold;
  font-size: 1.5rem;
}

#footer{
  background-color: #000;
  padding: 30px;
  color: #FFF;    
  text-align: center;  
}

#content{  
  min-height: 55vh;  
}

.icons{
  margin: 40px 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  list-style-type: none;
  width: 40px;
  margin: 0 10px;
}

li a:hover,
li a:focus{
  opacity: 0.7;
}

