* {
    font-family: 'Arial Narrow', sans-serif ;
  }
  h1 {
      border-bottom: 3px solid #9833CC;
  }
  
  body {
    height: 100%;
    padding: 0;
    margin: 0;   
  }
  
  #app {
    min-height: 100%;
    width: 100%;
  }
  
  .main_content {
    height: 100px;
    margin-bottom: 20px;
  }
  