$color-gray: #CECDCE;
$color-purple: #9833CC;
$color-black: #000000;
$color-white: #ffffff;
$navigation-bg-hover: #272727;

//  alert-colors

$alert-bg-error: #a31818;
$alert-bg-success: #09a730;
$alert-bg-warning: #85790c;
$alert-bg-info: #d831d0;

// dropdown-colors

$box-shadow: rgba(0,0,0,0.2);
$link-bg: rgb(32, 37, 43);

// section-colors

$section-bg: rgba(0, 0, 0, 0.397);
